.filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
}

.filterWrap{
    position: sticky;
    top: 20px;    
}

.h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.h2{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}