.tickets{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ticketData{
    display: grid;
    gap: 10px;
}

.ticketLegs{
    padding: 0 10px;
}

.ticketLeg:last-child{
    border: none;
    margin-bottom: 0;
}

.ticketLeg{
    border-bottom: 2px solid var(--primary);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.ticketHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: var(--primary);

    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    font-size: 24px;
    font-weight: 500;
}

.ticketFromto{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-light);
}

.ticketDates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketTimeDay{
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

.ticketTime, .airport{
    font-size: 20px;
    font-weight: 500;
    align-self: baseline;
}

.ticketDay, .airportUid{
    color: var(--primary);
    align-self: baseline;
}

.ticketDuration{
    display: flex;
    align-items: center;
    font-weight: 500;
}


.ticketTransfer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 50px;
}

.ticketTransferLine{
    border-top: 1px solid var(--grey-main);
}

.ticketTransferText{
    margin: 0 15px;
    color: var(--secondary);
    font-weight: 500;
}

.ticketAirway{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    font-size: 14px;
}

.ticketBtnWrap{}

.ticketBtn{
    width: 100%;
}

.arrowWrap{
    display: grid;
    grid-template-columns: 1fr auto;
}

.arrow{
    border-bottom: 1px solid var(--primary);
    height: 50%;
    margin-left: 10px;
}

.arrowImg{
    max-height: 12px;
    min-width: 12px;
    margin-right: 10px;
}

.clockImg{
    max-height: 15px;
    min-width: 12px;
    margin-right: 8px;
}

.airlineLogo{
    max-height: 30px;
    align-items: center;
}