.tickets{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ticketData{
    display: grid;
    gap: 10px;
}

.ticketLegs{
    padding: 0 10px;
}

.ticketLeg:last-child{
    border: none;
}

.ticketLeg{
    border-bottom: 2px solid var(--primary);
    margin-bottom: 20px;
}

.ticketHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: var(--primary);

    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    font-size: 24px;
    font-weight: 500;
}

.ticketFromto{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-light);
}

.ticketDates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketTransfer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.ticketAirway{
    display: flex;
    justify-content: flex-start;
}

.ticketBtnWrap{}

.ticketBtn{
    width: 100%;
}

.arrowWrap{
    display: grid;
    grid-template-columns: 1fr auto;
}

.arrow{
    border-bottom: 1px solid var(--primary);
    height: 50%;
    margin-left: 10px;
}

.arrowImg{
    max-height: 12px;
    min-width: 12px;
    margin-right: 10px;
}

.airlineLogo{
    max-height: 30px;
    align-items: center;
}